{% extends 'base.html' %}
{% block content %}
 
<h1>Posts</h1>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{post.title}}</a> - {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}} 
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">Editar</a> - 
                <a href="{% url 'delete_post' post.pk %}">Borrar</a><br/>
            {% endif %}    
        {% endif %}

    {{post.body |slice:'100' }}</li>
{% endfor %}
</ul>

{% endblock %}